<nav class="shadow-md">
  <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
    <div class="text-xl font-bold">
      Budget App
    </div>
    <div class="flex gap-6 text-sm font-medium">
      <a routerLink="" routerLinkActive="text-blue-400" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-blue-400 transition">
        Services
      </a>
      <a routerLink="budget-history" routerLinkActive="text-blue-400" [routerLinkActiveOptions]="{ exact: true }" class="hover:text-blue-400 transition">
        History
      </a>
    </div>
  </div>
</nav>
